<html>
<head>
	<meta charset="utf-8">
	<title>Site e-commerce</title>
</head>
<body>
	<a href="/api/users" sec:authorize="isAnonymous()">Connexion</a>
	<a href="/deconnexion" sec:authorize="isAuthenticated()">Déconnexion</a><br>
	<span th:text ="${#authentication.getPrincipal()}"></span>
	<h1 th:text="#{greeting}"></h1><br>
	<p>Bcrypt Encoded password "password": <span th:text="${encoded}">password</span></p>
	<p>Bienvenue <span sec:authentication="name">Bob</span> sur notre site e-commerce</p>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	This content is only shown to administrators.
	</div>
	<div sec:authorize="hasRole('ROLE_USER')">
	This content is only shown to users.
	</div>
</body>
</html>