<!DOCTYPE HTML>
<html lang="fr">
<head>
	<title>Compte crée</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Le compte de votre entreprise: <span th:text="${user.raisonSociale}" /> a été crée avec succès !</h1>
</body>
</html>